beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.12
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.13
idna==3.3
imageio==2.19.2
imageio-ffmpeg==0.4.7
moviepy==1.0.3
numpy==1.22.3
packaging==21.3
Pillow==10.0.0
proglog==0.1.10
pyparsing==3.0.9
requests==2.27.1
soupsieve==2.3.2.post1
toml==0.10.2
tqdm==4.64.0
urllib3==1.26.17
youtube-search==2.1.0
lxml==4.8.0
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.2
tekore==5.0.1
flask==2.2.5
Werkzeug==2.2.2
git+https://github.com/abanand132/pytube.git@master#egg=pytube
